@import "navbar";
@import "colors";
@import "media-queries";
@import "main";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // font-size: 62.5%;
    font-family: "Montserrat", "Poppins";
}

body{
    height: 100vh;
}

header{
    height: 10vh;
}

h1{
    font-size: 4rem;
    color: $lime;
}

h2{
    font-size: 4rem;
    h1{
        font-size: 4rem;
        color: $dark;
        margin-top: 1rem;
        font-weight: 700;
    }
}

p{
    font-size: 2rem;
    color: $dark;
    margin-top: 1rem;
    font-weight: 700;
}
.btn{
    font-size: 1rem;
    padding: 12px 24px;
    background: $lime;
    color: $light;
    border-radius: 5px;
    // margin-left: 16px;
    margin-top: 2rem;
    outline:none;
    border:none;

    &:hover{
        background-color: $orange;
        transition: all 0.3s;
    }
}

.img-alien{
    height: 100%;
    width: 100%;
    animation: slide-up ease 2s forwards;
    margin-bottom: -80vh;
}

@keyframes slide-up{
    0%{
        margin-bottom:-80vh;
    }

    100%{
        margin-bottom: 0;
    }
}

